<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
      <p><h2>Create A Basketball Team!</h2></p>
      <p>Team Name: <input type="text"></p>
      <p>Coach: <input type="text"></p>
      <p>Point Guard: <input type="text"></p>
      <p>Shooting Guard: <input type="text"></p>
      <p>Power Forward: <input type="text"></p>
      <p>Small Forward: <input type="text"></p>
      <p>Center: <input type="text"></p>
      <input type="submit" id="Submit"/>
   </form>
</body>
</html>


# name="Submit" value="Submit" id="Submit"

# <form action="/team" method="post">
# </form>
#   Name<input type="text" name="name">
#   Coach<input type="text" name="coach">
#   Point Guard<input type="text" name="pg">
#   Shooting Guard<input type="text" name="sg">
#   Power Guard<input type="text" name="pf">
#   Small Forward<input type="text" name="sf">
#   Center <input type="text" name="c">
#   <input type="submit" name="submit" value="submit" id="submit"/>
# </form>